<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/output.css" />
    <script src="/static/js/app.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - Auden</title>
    {% endblock %}
</head>
<body class=" text-white">
    <div class="flex flex-row">
        <div class="
            w-[5vw] mx-2 bg-rosepine-surface/50 backdrop-blur-md 
            h-[98vh] my-[1vh] rounded-3xl 
            py-2 flex flex-col items-center text-sm px-1
            overflow-hidden
            ">
            <div class="mb-auto">
                <button class="hover:bg-rosepine-base/40 text-black/80 hover:text-white transition bg-rosepine-foam p-[1em] py-3 rounded-2xl" onclick="Turbo.visit('/')">
                    <i class="material-icons scale-150">cottage</i>
                </button>
                <div class="h-1 bg-white my-2 w-full rounded-full"></div>
            </div> 
            <div class="overflow-y-scroll">
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
            </div>
            <div class="mt-auto flex flex-col justify-center items-center">
                <div class="h-1 bg-white my-2 w-full rounded-full"></div>
                <button class="hover:bg-rosepine-base/40 hover:scale-110 text-gray-300 transition bg-rosepine-surface/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">search</i>
                </button>
                <button class="hover:bg-rosepine-base/40 hover:scale-110 text-gray-300 transition bg-rosepine-surface/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">add</i>
                </button>
                <button class="hover:bg-rosepine-base/40 hover:scale-110 text-gray-300 transition bg-rosepine-surface/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">settings</i>
                </button>
            </div>
        </div>
        <div class="w-[90vw] h-screen pl-4 bg-rosepine-base/70  overflow-y-scroll backdrop-blur rounded-md">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
        <div class="
            w-[5vw] mx-2 bg-rosepine-surface/50 backdrop-blur-md 
            h-[98vh] my-[1vh] rounded-3xl 
            py-2 flex flex-col items-center text-sm px-1
            overflow-hidden
            ">
            <div class="mb-auto flex flex-col items-center">
                <button class="hover:bg-rosepine-base/40 text-black/80 hover:text-white transition bg-rosepine-foam p-[1em] py-3 rounded-2xl">
                    You
                </button>
                <div class="h-1 bg-white my-2 w-full rounded-full"></div>
                <h1 class="text-lg">Buzz</h1>
            </div> 
            <div class="overflow-y-scroll">
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
                <button class="hover:bg-rosepine-base/40 hover:-translate-y-3 text-gray-300 transition bg-rosepine-love/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">person</i>
                </button>
                <div class="py-1"></div>
            </div>
            <div class="mt-auto flex flex-col justify-center items-center">
                <div class="h-1 bg-white my-2 w-full rounded-full"></div>
                <button class="hover:bg-rosepine-base/40 hover:scale-110 text-gray-300 transition bg-rosepine-surface/70 p-[1em] py-3 rounded-full">
                    <i class="material-icons scale-150">search</i>
                </button>
                <button class="hover:bg-rosepine-base/40 hover:scale-110 text-gray-300 transition bg-rosepine-surface/70 p-[1em] py-3 rounded-full font-bold">
                    Add Buzz
                </button>
            </div>
        </div>
    </div>
</body>
</html>